.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.central__content {
  display: flex;
  min-height: 740px;
}

.appear, .fade {
  animation-name: fade;
  animation-duration: 0.5s;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.appear {
  animation-direction: reverse;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
