@import "central";
@import "intro";
@import "greeting";
@import "rules";
@import "header";
@import "social";
@import "footer";
@import "game";
@import "colors";
@import "fonts";
@import "stats";
@import "result";

html {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #a8c8c4 linear-gradient(to bottom left, #ccdeeb, #84b39e) no-repeat;

  @include regular-text;
  color: $main-font-color;
  min-height: 100%;
}

a {
  color: $main-font-color;
}

.back {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.loader::before{
  content: '';
  position: absolute;
  background: url(../img/egg_big.png) no-repeat center;
  width: 100px;
  height: 100px;
  background-size: 100%;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
